@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme (default) */
:root {
  --foreground-rgb: 0, 0, 0; /* Dark text */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* White background */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 8; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
